.card_img {
    float: left;
    width: 20%;
}

.card_desc_box {
    width: 52%;
    float: left;
}

.card_actions {
    width: 28%;
    float: right;
}

.card_name {
    width: 100%;
    height: 20%;
}

.card_desc {
    width: 100%;
    height: 80%;
}

.thirty_left {
    width: 30%;
    float: left;
}

.card_box {
    overflow: hidden;
    display: block;
    height: 143px;
}

.card_box:nth-child(even) {
    background: #FFF
}

.card_box:nth-child(odd) {
    background: #CCC
}

.user:nth-child(even) {
    background: #FFF
}

.user:nth-child(odd) {
    background: #CCC
}

#map_canvas {
    width: 1170px;
    height: 300px;
}