<!-- inheritance of parent template -->
{% extends "base.html" %}
<!-- must be named the same as placeholder in base.html -->
{% block content %}
    <h1>Dodaj nową kartę</h1>
    <div class="well">
        <form class="form-horizontal" action="" method="post" name="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form %}
                    {% if field.name != 'csrf_token' %}
                        <tr>
                            <td><label>{{ field.label }}</label>{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {% for error in form.errors.post %}
                    <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
                <tr>
                    <td>
                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-primary" type="submit" value="Dodaj">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}