<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - wymiana kart</title>
    {% else %}
        <title></title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">karty</a>
            <ul class="nav">
                <li><a href="{{ url_for('index') }}">Strona główna</a></li>
                {% if not g.user.is_authenticated %}
                    <li><a href="/login">Zaloguj</a></li>
                {% else %}
                    <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Profil</a></li>
                    <li><a href="{{ url_for('user_cards', nickname = g.user.nickname) }}">Karty</a></li>
                    <li><a href="{{ url_for('reserved_cards') }}">Zarezerwowane karty</a></li>
                    <li><a href="{{ url_for('users') }}">Użytkownicy</a></li>
                    <li><a href="{{ url_for('add_card', nickname = g.user.nickname) }}">Dodaj kartę</a></li>
                    <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
                {% endif %}
            </ul>
            <div class="nav-collapse collapse">
                {% if g.user.is_authenticated %}
                    <!-- this is form field for search in posts, it redirects submit to search view -->
                    <form class="navbar-search pull-right" action="{{ url_for('search') }}" method="post" name="search">
                        {{ g.search_form.hidden_tag() }}
                        {{ g.search_form.search(size=20,placeholder="Search",class="search-query") }}
                        <input type="submit" value="Search">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <hr/>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <img src="/static/img/logo_dark2.png">
    <!-- block control statement, named content
     This is the point where derived templates may insert themselves -->
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
