<div class="card_box">
    <div class="card_img"><img class="card" src="/static/upload/{{ card.filename }}" width="100" height="200"/></div>
    <div class="card_desc_box">
        <div class="card_name">Nazwa: {{ card.name }}</div>
        <div class="card_desc">Opis: {{ card.description }}</div>
    </div>
    <div class="card_actions">
        <div class="card_price">Cena: {{ "%.02f" % card.price }} zł</div>
        <div class="card_quantity">Ilość: {{ card.quantity }}</div>
        <div class="card_quantity">Zarezerwowane: {{ card.reserved }}</div>
        <div class="card_form">
            {% if user.nickname != g.user.nickname %}
                <form class="form-horizontal"
                      action="{{ url_for('card_reserve', nickname=user.nickname, card_id=card.id) }}" method="post"
                      name="post">
                    {{ form.hidden_tag() }}
                        <div>
                            <div class="thirty_left">{{ form.reserve.label }}</div><div class="thirty_left">{{ form.reserve }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="thirty_left">{{ form.unreserve.label }}</div><div class="thirty_left">{{ form.unreserve }}</div>
                        </div>
                <div class="clearfix"></div>
                    {% for error in form.errors.post %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}

                    <input type="submit"  value="Wyślij!">
                </form>
            {% else %}
                <form class="form-horizontal"
                      action="{{ url_for('card_edit', nickname=user.nickname, card_id=card.id) }}" method="post"
                      name="post">
                    {{ form.hidden_tag() }}
                        <div>
                            <div class="thirty_left">{{ form.quantity.label }}</div><div class="thirty_left">{{ form.quantity }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="thirty_left">{{ form.delete.label }}</div><div class="thirty_left">{{ form.delete }}</div>
                        </div>
                <div class="clearfix"></div>
                    {% for error in form.errors.post %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}

                    <input type="submit"  value="Wyślij!">
                </form>
            {% endif %}

        </div>

    </div>
</div>
