<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edytuj swój profil</h1>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Twój nickname:</td>
                <td>{{ form.nickname(size = 24) }}</td>
                {% for error in form.errors.nickname %}
                    <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </tr>
            <tr>
                <td>O sobie:</td>
                <td>{{ form.about_me(cols = 32, rows = 4) }}</td>
            </tr>
            <tr>
                <td>Długość geograficzna:</td>
                <td>{{ form.lon }}</td>
            </tr>
            <tr>
                <td>Szerokość geograficzna:</td>
                <td>{{ form.lat }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Zapisz zmiany"></td>
            </tr>
        </table>
    </form>
{% endblock %}