<!-- inheritance of parent template -->
{% extends "base.html" %}
<!-- must be named the same as placeholder in base.html -->
{% block content %}
<h1>Witaj, {{g.user.nickname}}!</h1>
<h3>Podziel się swoimi nowościami!</h3>
<div class="well">
	<form class="form-horizontal" action="" method="post" name="post">
		{{form.hidden_tag()}}
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for "post">Wyślij wiadomość:</label>
			<div class="controls">
				{{ form.post(size = 30, maxlength = 140) }}
				{% for error in form.errors.post %}
					<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Wyślij!">
			</div>
		</div>		
	</form>
</div>

<!-- posts is a Paginate object, items return shorter list, single "page" -->
{% for post in posts.items %}
	{% include 'post.html' %}
{% endfor %}
<!-- this is Pagination-logic code. has_prev and has_next are booleans, 
		could be used to make next/before links -->
<ul class="pager">
	{% if posts.has_prev %}
	<li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Starsze wiadomości</a></li>
	{% else %}
	<li class="previous disabled"><a href="#">Starsze wiadomości</a></li>
	{% endif %}
	{% if posts.has_next %}
	<li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Nowsze wiadomości</a></li>
	{% else %}
	<li class="next disabled"><a href="#">Nowsze wiadomości</a></li>
	{% endif %}
</ul>
{% endblock %}