{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
<h1>Logowanie</h1>
<form action="" method="post" name="login">
	<!-- CSRF prevention tag -->
    {{form.hidden_tag()}}
    <p>
        Wpisz swój OpenID, albo wybierz jednego z providerów:<br>
        {{form.openid(size=80)}}
        {% for error in form.errors.openid %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        {% for pr in providers %}
        <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');"><img src="/static/img/{{pr.name.lower()}}.png" class="img-polaroid" style="margin:2px;" /></a>
        
        {% endfor %}
    </p>
    <p>
    	{{form.remember_me}} Zapamiętaj mnie
    </p>
    <p><input type="submit" value="Zaloguj"></p>
</form>
{% endblock %}