<table>
	<tr valign="top">
		<td><img src="{{ post.author.avatar(50) }}" /></td>
		<td><i><a href="{{ url_for('user', nickname = post.author.nickname) }}">{{post.author.nickname}}</a> mówi: </i><br />{{post.body}}</td>
	</tr>
</table>
