<!-- inheritance of parent template -->
{% extends "base.html" %}
<!-- must be named the same as placeholder in base.html -->
{% block content %}

<h1>Zarezerwowane karty</h1>


<!-- posts is a Paginate object, items return shorter list, single "page" -->
<hr/>

{% if g.user.get_reserved_card_count() == 0 %}
    <h4>{{ g.user.nickname }}, na tą chwilę nie masz zarezerwowanych kart.</h4>
{% else %}
    <h4>Zarezerwowane u użytkownika: <a href="{{ url_for('user', nickname=cards.items.0.owner.nickname) }}">{{ cards.items.0.owner.nickname }}</a></h4>
    <div class="user">
        <div style="float: left; width: 33%; text-align: center">Nazwa</div>
        <div style="float: left; width: 33%; text-align: center">Cena jednostkowa (zł)</div>
        <div style="float: right; width: 33%; text-align: center">Zarezerwowano</div>
        <div class="clearfix"></div>
    </div>
    {% for card in cards.items %}
    <div class="user">
        <div style="float: left; width: 33%; text-align: center">{{ card.name }}</div>
        <div style="float: left; width: 33%; text-align: center">{{ card.price }}</div>
        <div style="float: right; width: 33%; text-align: center">{{ card.reserved }}</div>
        <div class="clearfix"></div>
    </div>
    {% endfor %}
    <hr />
    <b>Łącznie zarezerwowanych kart: {{ g.user.get_reserved_card_count() }}, za sumę: {{ g.user.get_reserved_card_price() }} zł.</b>
{% endif %}


{% endblock %}