{% extends "base.html" %}

{% block content %}

    <div class="well well-large" style="height: 140px;">
        <div class="pull-right">
            <img src="{{ user.avatar(128) }}"/>
        </div>
        <h1>Użytkownik: {{ user.nickname }}!</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p><em>Ostatnio zalogowany: {{ user.last_seen }}</em></p>{% endif %}

        <p>{{ user.followers.count() }} obserwujący | {{ user.followed.count() }} obserwuje |
            {% if user.id == g.user.id %}
                <a href="{{ url_for('edit') }}">Edytuj</a>
            {% elif not g.user.is_following(user) %}
                <a href="{{ url_for('follow', nickname = user.nickname) }}">Obserwuj</a>
            {% else %}
                <a href="{{ url_for('unfollow', nickname = user.nickname) }}">Nie obserwuj</a>
            {% endif %}
        </p>
    </div>
    <div id="map_canvas"></div>
    {% if user.nickname != g.user.nickname %}
        <hr/>
        <h2>Posiadanych kart: {{ user.get_card_count() }}</h2>
        <p><a href="{{ url_for('user_cards', nickname = user.nickname) }}">Zobacz karty</a></p>
    {% endif %}
    {% if user.followed.count() > 0 %}
        <hr/>
        {% if user.nickname != g.user.nickname %}
            <h2>Obserwuje:</h2>
        {% else %}
            <h2>Obserwujesz:</h2>
        {% endif %}
        {% for followed in user.followed %}
            <p><a href="{{ url_for('user', nickname = followed.nickname) }}">{{ followed.nickname }}</a></p>
        {% endfor %}
    {% endif %}
    {% if user.followers.count() > 0 %}
        <hr/>
        <h2>Obserwują:</h2>
        {% for followee in user.followers %}
            <p><a href="{{ url_for('user', nickname = followee.nickname) }}">{{ followee.nickname }}</a></p>
        {% endfor %}
    {% endif %}
    <hr/>

    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    <ul class="pager">
        {% if posts.has_prev %}
            <li class="previous"><a href="{{ url_for('user', nickname = user.nickname, page = posts.prev_num) }}">Nowsze
                wiadomości</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">Nowsze wiadomości</a></li>
        {% endif %} |
        {% if posts.has_next %}
            <li class="next"><a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">Starsze
                wiadomości</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Starsze wiadomości</a></li>
        {% endif %}
    </ul>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>
    <script type="text/javascript">
        var map;

        var image1 = {
            url: '/static/img/Mana_B.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image2 = {
            url: '/static/img/Mana_G.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image3 = {
            url: '/static/img/Mana_R.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image4 = {
            url: '/static/img/Mana_U.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image5 = {
            url: '/static/img/Mana_W.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var images = [image1, image2, image3, image4, image5];

        function getRandomArbitrary(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
        }

        function generateMarker(user, target) {
            //var content = '<img src="' + user.image + '" /><br /><br />';
            var content = 'Użytkownik <b>' + user.nickname + '</b><br />';
            content += 'Liczba kart: <b>' + user.card_count + '</b><br /><br />';

            if (target != undefined) {
                var latLngUser = new google.maps.LatLng(user.lat, user.lng);
                var latLngTarget = new google.maps.LatLng(target.lat, target.lng);
                var distance = (google.maps.geometry.spherical.computeDistanceBetween(latLngUser, latLngTarget) / 1000).toFixed(2);

                content += 'Odległość do użytkownika: <b>' + distance + '</b> km<br /><br />';
            }

            content += '<a href="{{ url_for('user', nickname = user.nickname) }}">Przejdź do profilu</a>';

            var infoWindow = new google.maps.InfoWindow({
                content: content,
                maxWidth: 150,
                maxHeight: 150
            });

            var marker = new google.maps.Marker({
                position: {lat: user.lat, lng: user.lng},
                map: map,
                icon: images[getRandomArbitrary(0, 5)],
                title: user.name,
                zIndex: 11
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }

        function initialize() {
            var myOptions = {
                zoom: 9,
                center: new google.maps.LatLng({{ g.user.lat }}, {{ g.user.lon }}),
                disableDefaultUI: true
            };

            map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

            {% if user.nickname == g.user.nickname %}
                var user1 = {nickname: '{{ user.nickname }}', image: 'elements.png', lat: {{ user.lat }}, lng: {{ user.lon }}, card_count: {{ user.get_card_count() }}};
                generateMarker(user1);
            {% else %}
                var user1 = {nickname: '{{ g.user.nickname }}', image: 'elements.png', lat: {{ g.user.lat }}, lng: {{ g.user.lon }}, card_count: {{ g.user.get_card_count() }}};
                var user2 = {nickname: '{{ user.nickname }}', image: 'elements.png', lat: {{ user.lat }}, lng: {{ user.lon }}, card_count: {{ user.get_card_count() }}};

                var map_users = [user1, user2];

                generateMarker(user1);
                generateMarker(user2, user1);

                for (user of map_users) {
                    //generateMarker(user);
                }
            {% endif %}


        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}