<!-- inheritance of parent template -->
{% extends "base.html" %}
<!-- must be named the same as placeholder in base.html -->
{% block content %}

    <h1>Użytkownicy</h1>

    <hr />
    <div id="map_canvas"></div>
    <hr />

    <!-- posts is a Paginate object, items return shorter list, single "page" -->
        <div class="user">
                <div style="float: left; width: 50%; text-align: center">Użytkownik</div>
                <div style="float: right; width: 50%; text-align: center">Posiadanych kart</div>
                <div class="clearfix"></div>
            </div>


        {% for user in users.items %}
            <div class="user">
                <div style="float: left; width: 50%; text-align: center"><a href="{{ url_for('user', nickname=user.nickname) }}">{{ user.nickname }}</a></div>
                <div style="float: right; width: 50%; text-align: center">{{ user.get_card_count() }}</div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}


    <!-- this is Pagination-logic code. has_prev and has_next are booleans,
            could be used to make next/before links -->
    <ul class="pager">
        {% if users.has_prev %}
            <li class="previous"><a href="{{ url_for('index', page = users.prev_num) }}">Poprzedni użytkownicy</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">Poprzedni użytkownicy</a></li>
        {% endif %}
        {% if users.has_next %}
            <li class="next"><a href="{{ url_for('index', page = users.next_num) }}">Następni użytkownicy</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Następni użytkownicy</a></li>
        {% endif %}
    </ul>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>
    <script type="text/javascript">
        var map;

        var image1 = {
            url: '/static/img/Mana_B.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image2 = {
            url: '/static/img/Mana_G.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image3 = {
            url: '/static/img/Mana_R.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image4 = {
            url: '/static/img/Mana_U.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var image5 = {
            url: '/static/img/Mana_W.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 16)
        };

        var images = [image1, image2, image3, image4, image5];

        function getRandomArbitrary(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
        }

        function generateMarker(user, target, link) {
            //var content = '<img src="' + user.image + '" /><br /><br />';
            var content = 'Użytkownik <b>' + user.nickname + '</b><br />';
            content += 'Liczba kart: <b>' + user.card_count + '</b><br /><br />';

            if (target != undefined) {
                var latLngUser = new google.maps.LatLng(user.lat, user.lng);
                var latLngTarget = new google.maps.LatLng(target.lat, target.lng);
                var distance = (google.maps.geometry.spherical.computeDistanceBetween(latLngUser, latLngTarget) / 1000).toFixed(2);

                content += 'Odległość do użytkownika: <b>' + distance + '</b> km<br /><br />';
            }

            content += '<a href="' + link + '">Przejdź do profilu</a>';

            var infoWindow = new google.maps.InfoWindow({
                content: content,
                maxWidth: 150,
                maxHeight: 150
            });

            var marker = new google.maps.Marker({
                position: {lat: user.lat, lng: user.lng},
                map: map,
                icon: images[getRandomArbitrary(0, 5)],
                title: user.name,
                zIndex: 11
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }

        function initialize() {
            var myOptions = {
                zoom: 9,
                center: new google.maps.LatLng({{ g.user.lat }}, {{ g.user.lon }}),
                disableDefaultUI: true
            };

            map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);


            var user1 = {nickname: '{{ g.user.nickname }}', image: 'elements.png', lat: {{ g.user.lat }}, lng: {{ g.user.lon }}, card_count: {{ g.user.get_card_count() }}};
            generateMarker(user1, '{{ url_for('user', nickname = g.user.nickname) }}');

            {% for user in users.items %}
                generateMarker({nickname: '{{ user.nickname }}', image: 'elements.png', lat: {{ user.lat }}, lng: {{ user.lon }}, card_count: {{ user.get_card_count() }}}, user1, '{{ url_for('user', nickname = user.nickname) }}');
            {% endfor %}



        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}