<!-- inheritance of parent template -->
{% extends "base.html" %}
<!-- must be named the same as placeholder in base.html -->
{% block content %}
{% if user.nickname != g.user.nickname %}
    <h1>Karty użytkownika {{user.nickname}}:</h1>
{% else %}
    <h1>Twoje karty:</h1>
{% endif %}

<!-- posts is a Paginate object, items return shorter list, single "page" -->
{% for card in cards.items %}
	{% include 'card.html' %}
{% endfor %}
<!-- this is Pagination-logic code. has_prev and has_next are booleans,
		could be used to make next/before links -->
<ul class="pager">
	{% if cards.has_prev %}
	<li class="previous"><a href="{{ url_for('index', page = cards.prev_num) }}">Poprzednia strona</a></li>
	{% else %}
	<li class="previous disabled"><a href="#">Poprzednia strona</a></li>
	{% endif %}
	{% if cards.has_next %}
	<li class="next"><a href="{{ url_for('index', page = cards.next_num) }}">Kolejna strona</a></li>
	{% else %}
	<li class="next disabled"><a href="#">Kolejna strona</a></li>
	{% endif %}
</ul>
{% endblock %}